aiodns==4.0.0
aiofile==3.9.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
asgiref==3.11.1
attrs==26.1.0
caio==0.9.25
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptofeed==2.4.1
Cython==3.2.4
Django==5.2.14
djangorestframework==3.17.1
drf-spectacular==0.29.0
frozenlist==1.8.0
gunicorn==26.0.0
idna==3.13
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
multidict==6.7.1
order_book==0.6.1
packaging==26.2
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
pycares==5.0.1
pycparser==3.0
pymemcache==4.0.0
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.33.1
rpds-py==0.30.0
sdnotify==0.3.2
setuptools==82.0.1
sqlparse==0.5.5
uritemplate==4.2.0
urllib3==2.7.0
uvloop==0.22.1
websockets==16.0
wheel==0.47.0
yapic.json==1.9.5
yarl==1.23.0
